html{
  background-color: rgb(58, 87, 69);
}

h1{
  color:rgb(159, 202, 188);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: 'bold';
  font-size: 60px;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-indent: 20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  padding: 10px;
}

#content {
  background-color: rgb(76, 112, 106);
  color:rgb(176, 233, 192);
  width: 500px;
  border: dotted 10px rgb(227, 234, 218);
  padding: 10px;
}